body {
    background: #0f0f0f;
    color: white;
    text-align: center;
}

button {
    margin: 10px;
    padding: 8px;
    background: #222;
    border: 1px solid #555;
    color: white;
}

svg {
    border: 1px solid #444;
    margin-top: 20px;
}